<!-- Sidebar Navigation ============================ -->
<div class="idocs-navigation bg-dark-1 docs-navigation-dark">
	<ul class="nav flex-column ">
		<li class="nav-item"><a class="nav-link active" href="#idocs_started">Getting Started</a>
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="#idocs_installation">Installation</a></li>
				<li class="nav-item"><a class="nav-link" href="#idocs_variables">Variables</a></li>
				<li class="nav-item"><a class="nav-link" href="#idocs_logic_tags">Logic Tags</a></li>
				<li class="nav-item"><a class="nav-link" href="#idocs_comments">Comments</a></li>
				<li class="nav-item"><a class="nav-link" href="#idocs_whitespace_control">Whitespace Control</a></li>
				<li class="nav-item"><a class="nav-link" href="#idocs_template_inheritance">Template Inheritance</a></li>
				<li class="nav-item"><a class="nav-link" href="#idocs_express_js">Express.js</a></li>
			</ul>
		</li>

		<li class="nav-item"><a class="nav-link" href="/api">Wjst API</a>
			<!-- <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#idocs_object_wjstopts">Object: WjstOpts</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_object_cacheoptions">Object: CacheOptions</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_object_templateLoader">Object: TemplateLoader</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_version">wjst.version</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_setDefaults">wjst.setDefaults</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_setDefaultTZOffset">wjst.setDefaultTZOffset</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_Wjst">wjst.Wjst</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_invalidateCache">wjst.invalidateCache</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_setFilter">wjst.setFilter</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_setTag">wjst.setTag</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_setExtension">wjst.setExtension</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_precompile">wjst.precompile</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_render">wjst.render</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_renderFile">wjst.renderFile</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_compile">wjst.compile</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_compileFile">wjst.compileFile</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_wjst_run">wjst.run</a></li>
            </ul> -->
		</li>

		<li class="nav-item"><a class="nav-link" href="/filters">Filters</a>
			<!-- <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#idocs_addslashes">addslashes</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_capitalize">capitalize</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_date">date</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_default">default</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_escape">escape</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_first">first</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_groupBy">groupBy</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_join">join</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_json">json</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_last">last</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_length">length</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_lower">lower</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_raw">raw</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_replace">replace</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_reverse">reverse</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_safe">safe</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_sort">sort</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_striptags">striptags</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_title">title</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_uniq">uniq</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_upper">upper</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_url_encode">url_encode</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_url_decode">url_decode</a></li>
            </ul> -->
		</li>

		<li class="nav-item"><a class="nav-link" href="/tags">Tags</a>
			<!-- <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#idocs_autoescape">autoescape</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_block">block</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_else">else</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_elif">elif</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_extends">extends</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_filter">filter</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_for">for</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_if">if</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_import">import</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_include">include</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_macro">macro</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_parent">parent</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_raw_tag">raw</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_set">set</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_spaceless">spaceless</a></li>
            </ul> -->
		</li>

		<li class="nav-item"><a class="nav-link" href="/loaders">Template Loaders</a>
			<!-- <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#idocs_builtin">Built-Ins</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_custom_loaders">Custom Loaders</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_resolve">resolve</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_load">load</a></li>
            </ul> -->
		</li>

		<li class="nav-item"><a class="nav-link" href="/browser">Browser Usage</a></li>

		<li class="nav-item"><a class="nav-link" href="/extending">Extending Wjst</a>
			<!-- <ul class="nav flex-column">
              <li class="nav-item"><a class="nav-link" href="#idocs_custom_filters">Custom Filters</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_custom_tags">Custom Tags</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_parse">parse</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_compile">compile</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_ends">ends</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_blockLevel">blockLevel</a></li>
              <li class="nav-item"><a class="nav-link" href="#idocs_token_types">Token Types</a></li>
            </ul> -->
		</li>
	</ul>
</div>

<!-- Docs Content ============================ -->
<div class="idocs-content bg-dark-1">
	<div class="container">

		<!-- Getting Started ============================ -->
		<section id="idocs_started">
			<h1>Getting Started</h1>
		</section>

		<!-- Installation ============================ -->
		<section id="idocs_installation">
			<h2>Installation</h2>
			<p class="lead">Via NPM:</p>
			<pre><code class="JavaScript">$ npm install wjst --save</code></pre>
		</section>

		<hr class="divider">

		<section id="idocs_basic_usage">
			<h2>Basic Usage</h2>
			<p>Wjst has multiple ways to compile and render templates. Check the <a href="/api">API documentation</a> for more detailed
				information and usage.</p>
			<pre><code class="JavaScript">{%raw%}const wjst = require('wjst');

// Compile a file and store it, rendering it later
const tpl = wjst.compileFile('/path/to/template.html');
console.log(tpl({ article: { title: 'Wjst is fun!' }}));

// Immediately render a Wjst template from a string
console.log(wjst.render(&apos;{% if foo %}Hooray!{% endif %}&apos;, { locals: { foo: true }})); {%endraw%}</code></pre>
		</section>

		<hr class="divider">

		<!------------------ Variables ------------------>
		<section id="idocs_variables">
			<h2>Variables</h2>
			<p>Variables that are passed to templates can be output using double-curly-brackets:
				. All variable output is automatically <b>autoescaped</b>, with the exception of function output.</p>

			<h3>Notation</h3>
			<p>Accessing properties of objects can be done using either dot-notation or bracket-notation. The following
				examples are equivalent:</p>
			<pre><code class="JavaScript">{{ foo.bar }}
  // is equivalent to
  {{ foo['bar'] }}</code></pre>
			<p>However, notation style follows the same rules as JavaScript.
				If a key includes non-alpha-numeric characters, it must be accessed using bracket-notation, not
				dot-notation.</p>

			<h3>Bad!</h3>
			<pre><code class="JavaScript">{{ foo.chicken-tacos }}</code></pre>
			<p>The above would be the same as attempting to subract <code class="JavaScript">tacos</code>
				from <code class="JavaScript">foo.chicken: {{ foo.chicken - tacos }}</code></p>

			<h3>Good!</h3>
			<pre><code class="JavaScript">{{ foo['chicken-tacos'] }}</code></pre>

			<h3>Undefined vs Falsy Values</h3>
			<p>If a variable is not defined, don't worry, your template won't explode. Instead, an empty-string will be
				output in its place.
				However, falsy values like <code class="JavaScript">null</code>, <code class="JavaScript">false</code>,
				<code class="JavaScript">0</code>
				will be rendered as they are.
			</p>

			<h3>Filters</h3>
			<p>Variables can be modified using using special, chainable control structures called Filters:</p>
			<pre><code class="JavaScript">{%raw%}{{ name|title }} was born on {{ birthday|date('F jS, Y') }}
// => Jane was born on July 6th, 1985{%endraw%}</code></pre>

			<h3>Functions</h3>
			<p>Variables can also be JavaScript functions. It is important to note that, regardless of your <a href="/api/#idocs_object_wjstopts">autoescape setting</a>, functions will not be auto-escaped.</p>
			<pre><code class="JavaScript">{%raw%}const locals = { mystuff: function mystuff() { return '&lt;p&gt;Things!&lt;/p&gt;'; } };
wjst.render('{{ mystuff() }}', { locals: locals });
// => &lt;p&gt;Things!&lt;/p&gt;{%endraw%}</code></pre>

			<p>If you want to enforce escaping output on functions, just pipe them to the <a href="/filters/#idocs_escape">escape filter</a>.</p>
			<pre><code class="JavaScript">{%raw%}{{ mystuff()|escape }}
// => &amp;lt;p&amp;gt;Things&amp;lt;/p&amp;gt;{%endraw%}</code></pre>
		</section>
		<hr class="divider">

		<!------------------ Logic Tags ------------------>
		<section id="idocs_logic_tags">
			<h2>Logic Tags</h2>
			<p>Wjst includes some basic operational blocks, called <a href="/tags">Tags</a>, for helping you control output on a larger
				scale than variables.
				Tags are written using curly-percent syntax:</p>

			<pre><code class="JavaScript">{% raw %}{% if foo %}bar{% endif %}
// Create a list of people, only if there are items in the people array
{% for person in people %}
{% if loop.first %}&lt;ol&gt;{% endif %}
&lt;li&gt;{{ person.name }}&lt;/li&gt;
{% if loop.last %}&lt;/ol&gt;{% endif %}
{% endfor %}{% endraw %}</code></pre>

			<p><code class="JavaScript">end</code> tags may also have any set of extra context within them, and will
				just be ignore.
				This is useful for scoping and understanding which block you are closing and where.</p>

			<pre><code class="JavaScript">{% raw %}{% block tacos %}
  //...
{% endblock tacos %}
{% block burritos %}
  {% if foo %}
    // ...
  {% endif the above will render if foo == true %}
{% endblock burritos %}
{% endraw %}</code></pre></code></pre>

			<p>View the <a href="/tags">Tags documentation</a> for a full list of tags and usage instructions.</p>
			<hr class="divider">
		</section>

		<!------------------ Comments ------------------>
		<section id="idocs_comments">
			<h2>Comments</h2>
			<p>Comment tags are simply ignored by the parser. They will removed before your templates are rendered so
				that no one can see them unless they have access to your source code. Comments are written using the
				curly-hash syntax:</p>
			<pre><code class="JavaScript">{% raw %}{#
This is a comment.
It will be fully stripped and ignored during parsing.
#}{% endraw %}</code></pre></code></pre>
		</section>
		<hr class="divider">

		<!------------------ Whitespace Control ------------------>
		<section id="idocs_whitespace_control">
			<h2>Whitespace Control</h2>
			<p>Any whitespace in your templates is left in your final output templates. However, you can control the
				whitespace around logic tags by using whitespace controls.</p>
			<p>To remove whitespace, simply put a dash (-) at the beginning or end of your tag to remove the preceding
				or following whitespace, respectively.</p>
			<pre><code class="JavaScript">{% raw %}// seq = [1, 2, 3, 4, 5]
{% for item in seq -%}{{ item }} <br>
{%- endfor %}
// => 12345 {% endraw %}</code></pre>
			<p><i>Note: there must <b>not</b> be any space between the tag open/close mark and the dash.</i></p>
		</section>
		<hr class="divider">

		<!------------------ Template Inheritance ------------------>
		<section id="idocs_template_inheritance">
			<h2>Template Inheritance</h2>
			<p>Wjst uses <code class="JavaScript">extends</code> & <code class="JavaScript">block</code> for template inheritance.</p>
			<h3>layout.html</h3>
			<pre><code class="JavaScript">{% raw %}&lt;!doctype html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;title&gt;{% block title %}My Site{% endblock %}&lt;/title&gt;

  {% block head %}
  &lt;link rel="stylesheet" href="main.css"&gt;
  {% endblock %}
&lt;/head&gt;
&lt;body&gt;
  {% block content %}{% endblock %}
&lt;/body&gt;
&lt;/html&gt;{% endraw %}</code></pre>

			<h3>index.html</h3>
			<pre><code class="JavaScript">{% raw %}{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
  &lt;link rel="stylesheet" href="custom.css"&gt;
{% endblock %}

{% block content %}
&lt;p&gt;This is just an awesome page.&lt;/p&gt;
{% endblock %}{% endraw %}</code></pre>
		</section>
		<hr class="divider">

		<!------------------ Using Wjst with Express.js ------------------>
		<section id="idocs_express_js">
			<h2>Using Wjst with Express.js</h2>
			<p>Wjst is easily compatible with Express, the simple web application framework for node. The following is a
				basic example of integrating Wjst with Express:</p>
			<pre><code class="JavaScript">{% raw %}const app = require('express')(),
wjst = require('wjst'),
people;

// This is where all the magic happens!
app.engine('html', wjst.renderFile);

app.set('view engine', 'html');
app.set('views', __dirname + '/views');

// Wjst will cache templates for you, but you can disable
// that and use Express's caching instead, if you like:
app.set('view cache', false);
// To disable Wjst's cache, do the following:
wjst.setDefaults({ cache: false });
// NOTE: You should always cache templates in a production environment.
// Don't leave both of these to `false` in production!

app.get('/', function (req, res) {
res.render('index', { /* template locals context */ });
});

app.listen(8000);
console.log('Application Started on http://localhost:8000/');{% endraw %}</code></pre>
		</section>
		<hr class="divider">
	</div>
</div>
